<div>
  <%= form_with model: task, local: true do |f| %>
  
  <%= render 'layouts/error_messages', model: task %>
  
    <%= f.label :content, 'Task' %>
    <%= f.text_field :content %><br>
    
    <%= f.label :status, 'Status' %>
    <%= f.text_field :status %>

    <%= f.submit '登録' %>
  <% end %>
</div>
